@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Raleway|Sacramento|Parisienne");

* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 15px;
}

ul {
  padding-bottom: 10px;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

body {
  background-color: #ecf0f1;
  color: #4b6584;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  bottom: 10px;
  position: fixed;
  width: 100%;
}

footer i {
  font-size: 20px;
  background-color: #4b6584;
  padding: 4px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.copyright {
  margin-top: 5px;
}

.company {
  display: block;
  font-weight: bold;
}

.job {
  display: block;
}

.details-section {
  flex: 1;
  height: 100%;
  margin-left: 50px;
  margin-top: 50px;
}

.right {
  flex: 1;
  height: 100%;
}

.header {
  background-color: #4b6584;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.title {
  padding-top: 10px;
  font-family: "Parisienne", cursive;
  font-size: 2.8em;
  font-weight: lighter;
  text-align: center;
  color: #ecf0f1;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.blurb {
  font-family: "Raleway", sans-serif;
  padding-top: 15px;
  max-width: 500px;
}

.blurb-header {
  font-family: "Parisienne", cursive;
  font-size: 2.2em;
  padding-left: 3px;
}

.blurb-content p {
  line-height: 22px;
}

.flower-container {
  padding-bottom: 8em;
  margin: -2em 0 -3em;
  overflow: hidden;
}

.flower {
  position: relative;
  display: block;
  height: 14em;
  width: 50vw;
  margin: 5em auto 4.25em;
  font-size: 32px;
  transition: all 0.2s ease-out;
  animation-name: rotate-flower;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

.petal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  animation: linear 2s forwards;
  background-color: rgba(121, 103, 158, 0.5);
  animation-name: show-petal;
  display: flex;
  height: 6em;
  width: 6em;
  border-radius: 100% 0;
  margin-top: -6em;
  margin-left: 0em;
  transform-origin: 0 100% 0;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.5s ease;
}

.petal:hover {
  transition: box-shadow 0.5s ease;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.label {
  opacity: 0;
  transform: rotate(-45deg);
}

#experience {
  animation-delay: 0.2s;
  background-color: #26de81;
}

#associations {
  animation-delay: 0.4s;
  background-color: #fed330;
}

#personal {
  animation-delay: 0.6s;
  background-color: #fd9644;
}

#professional {
  animation-delay: 0.8s;
  background-color: #fc5c65;
}

#passions {
  animation-delay: 1s;
  background-color: #a55eea;
}

#education {
  animation-delay: 1.2s;
  background-color: #4b7bec;
}

#achievements {
  animation-delay: 1.4s;
  background-color: #45aaf2;
}

#me {
  animation-delay: 1.6s;
  background-color: #2bcbba;
}

.flower-container #experience {
  transform: rotate(0deg);
}

.flower-container #associations {
  transform: rotate(45deg);
}

.flower-container #personal {
  transform: rotate(90deg);
}

.flower-container #professional {
  transform: rotate(135deg);
}

.flower-container #passions {
  transform: rotate(180deg);
}

.flower-container #education {
  transform: rotate(225deg);
}

.flower-container #achievements {
  transform: rotate(270deg);
}

.flower-container #me {
  transform: rotate(315deg);
}

@media (max-width: 930px) {
  .flower-container .flower {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .flower-container .flower {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .flower-container .flower {
    font-size: 12px;
  }
}

@keyframes show-petal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes rotate-flower {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
